body{
    background-color: red;
}
.navbar-nav li a{
    color: red;
}
.jumbotron h1 , .jumbotron p {
    color: white;
}
.jumbotron p a:hover{
    outline: solid 1px #ffc107;
    color: white;
    background-color: red;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(92,46,78,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.list-group-item {
    background-color: black;
}
.list-group-item:hover{
    color: white;
    background-color: rgba(46, 43, 43, 0.992);
}
a.text-danger:hover, a.text-danger:focus {
    color: red;
}
#contactbg {
    background-color: transparent;
}
form{
    color: white;
}
#cards-mg {
    margin-top: 30px;
}
.text-body {
    color: black !important;
}